.nav-wrapper {
    background:#ffff !important;
}
#emboss {
	margin-left: 1em;
	color: #000 !important;
	font-family: sans-serif;
	float: left;
	font-size: 25px;
	
}	
.img-responsive {
    padding-top: 5px;
	max-height: 55px;
	float: left;
	margin-right: .4em;
}
.v1 {
	margin: 16px 8px;
	height: 30px;
	border-left: 1px solid black;
	float: left;
}
